/*Element selectors*/

h1 {
    color: rgb(248, 27, 57);
}

p {font-family: Arial, Helvetica, sans-serif;}

#home-title {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 300px;
    height: 250 px;
}